@use '../variables' as *;
@use '../mixins' as *;

.section-features {
  @include section-padding;
  background: $bg;
  position: relative;
}

.features-grid {
  @include container;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $space-md;
}
